
h1, h2 {
  color: #026FB1;
  font-family: palatino;
}

form {
  font-style: oblique;
}
.nav{
  background-color: #EFF9FF;
  diplay: flex;
}
.container{
  background-color: #EFF4FF;
  align-content: center;
  /*display: flex;*/
}

  body {
    background: #EFF4FF;
    display: flex;
  }
  #ToDo {
    background: #D0DCF6;
    padding: inherit;
    padding-top: 1%;
  }
  #Tasks{
    background: #FFF2C3;
    padding: inherit;
    padding-top: 1%;
  }
